version: "3"

services:
  personalweb:
    image: ofontgg/personalweb:latest
    expose:
      - "4200"
    ports:
     - "80:4200"
     - "443:4200"
    restart: unless-stopped
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
    depends_on:
      - personalweb-backend
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
  
  personalweb-backend:
    image: ofontgg/personalweb-backend:latest
    env_file:
      ./personalweb-backend/.env
    volumes:
      - ./personalweb-backend/adapters/database/data/:./data
    expose:
      - "3000"
    restart: unless-stopped
    labels:
    - "com.centurylinklabs.watchtower.enable=true"
  
  watchtower:
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_LABEL_ENABLE=true
      - WATCHTOWER_INCLUDE_RESTARTING=true